:root {
  --h-font: "Playfair Display", serif;
  --roboto-font: "Roboto", sans-serif;
  --my-primary: #fe1716;
  --my-dark-blue: #222f54;
  --my-med-blue: #454f6c;
  --my-primary-hover: #cf0e0e;
  --gray-icon:#9499a6;
  --light-pink-bg:#faebeb;
  --arabic-font:"Fustat", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--h-font);
  font-family: var(--arabic-font);
}

body {
  font-family: var(--roboto-font);
  font-family: var(--arabic-font);
}
.bg-my-primary {
  background-color: var(--my-primary);
}

.color-my-primary {
  color: var(--my-primary);
}
.bg-light-pink{
  background-color: var(--light-pink-bg);
}

.w-40 {
    width: 40%!important;
}
.gray-color{
  color: var(--gray-icon)!important;
}