/* header */

.hamada-logo {
  color: var(--my-dark-blue);
}
.fa-magnifying-glass {
  color: var(--my-primary);
}
header .nav-link,
header .nav-link:focus {
  transition: all 0.3s ease-in-out;
  color: var(--my-med-blue);
}
header .nav-link:hover,
header .nav-link:active {
  color: var(--my-primary);
}

.h-search {
  border: solid 1px;
}
.my-btn-primary {
  color: white !important;
  background-color: var(--my-primary);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: none;
}
.my-btn-primary:hover {
  background-color: var(--my-primary-hover);
}
.my-btn-primary:focus {
  border: none;
  background-color: var(--my-primary-hover);
}
.my-btn-primary:active {
  color: #fff;
  background-color: var(--my-primary-hover) !important;
}
.cart-count {
  font-size: 0.7rem;
  padding: 0.1rem 0.45rem;
}

.pages-navbar .nav-link {
  color: var(--my-dark-blue);
}

.right-side .dropdown li {
  color: var(--my-dark-blue);
  margin-bottom: 0.3rem;
}

/* fix transition */
.right-side {
  flex-basis: auto;
}

@media screen and (max-width: 341px) {
  .hamada-logo span {
    display: none;
  }
  .hamada-logo img {
    width: 100% !important;
  }
}

/* footer */
.footer-logo {
  color: var(--my-dark-blue);
}
.social-media-a {
  color: var(--gray-icon);
  outline: solid 0.5px var(--gray-icon);
  padding: 0.1rem 0.2rem;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.social-media-a:hover,
.social-media-a:focus,
.social-media-a:active {
  background-color: var(--my-primary-hover);
  color: #fff;
  outline: none;
}

footer .nav-link,
footer .nav-link:active,
footer .nav-link:focus {
  color: var(--my-med-blue);
  padding-right: 0px;
  transition: all 0.3s ease-in-out;
}

footer .nav-link:hover {
  color: var(--my-med-blue);
  padding-right: 0px;
  text-decoration: underline;
}
@media screen and (max-width: 250px) {
  .footer-logo span {
    display: none;
  }
}
