/* header */
.faragh {
  height: 5000px;
}
.hamada-logo-svg {
  stroke: var(--my-primary);
}
.hamada-logo {
  color: var(--my-dark-blue);
}
.fa-magnifying-glass {
  color: var(--my-primary);
}
header .nav-link,
header .nav-link:focus {
  transition: all 0.3s ease-in-out;
  color: var(--my-med-blue);
}
header .nav-link:hover,
header .nav-link:active {
  color: var(--my-primary);
}

.h-search {
  border: solid 1px;
}
/* my btn */
.my-btn-primary {
  color: white !important;
  background-color: var(--my-primary);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: none;
}
.my-btn-primary:hover {
  background-color: var(--my-primary-hover);
}
.my-btn-primary:focus {
  border: none;
  background-color: var(--my-primary-hover);
}
.my-btn-primary:active {
  color: #fff;
  background-color: var(--my-primary-hover) !important;
}

/* my close btn */
.my-close-open-btn {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
}
.my-close-open-btn:hover {
  background-color: var(--my-primary-hover);
}
/* close and open svg  */
.my-close-open-btn svg path {
  fill: var(--my-primary);
}

.my-close-open-btn:hover svg path {
  fill: #fff;
}
/* offcanvas links */
.cart-count {
  font-size: 0.7rem;
  padding: 0.1rem 0.45rem;
}
.right-side .header-off-c li {
  margin-bottom: 1rem;
}
.right-side .header-off-c li a {
  text-decoration: none;
  padding: 0.4rem 0.6rem;
  color: var(--my-dark-blue);

}
.right-side .header-off-c li a {
  border-radius: var(--bs-border-radius-xxl);
  transition: all 0.1s ease-in-out;
}
.right-side .header-off-c li a:not(.cart-link):active,
.right-side .header-off-c li a:not(.cart-link):focus,
.right-side .header-off-c li a:not(.cart-link):hover {
  color: #fff;
  background-color: var(--my-primary) !important;
  border-radius: var(--bs-border-radius-xxl);
}

/* fix transition */
.right-side {
  flex-basis: auto;
}
/* header media */

@media screen and (max-width: 520px) {
  .hamada-logo .span2-logo {
    display: none;
  }

}

@media screen and (max-width: 370px) {
  .hamada-logo span {
    display: none;
  }

}

@media screen and (max-width: 400px) {
  #my-header-offcanvas {
    width: 75% !important;
  }
}
/* footer---------------------------------------------------------------------------------*/
.footer-logo {
  color: var(--my-dark-blue);
}
.social-media-a {
  color: var(--gray-icon);
  outline: solid 0.5px var(--gray-icon);
  padding: 0.1rem 0.2rem;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.social-media-a:hover,
.social-media-a:focus,
.social-media-a:active {
  background-color: var(--my-primary-hover);
  color: #fff;
  outline: none;
}

footer .nav-link,
footer .nav-link:active,
footer .nav-link:focus {
  color: var(--my-med-blue);
  padding-right: 0px;
  transition: all 0.3s ease-in-out;
}

footer .nav-link:hover {
  color: var(--my-med-blue);
  padding-right: 0px;
  text-decoration: underline;
}
@media screen and (max-width: 250px) {
  .footer-logo span {
    display: none;
  }
}
